.cycle{
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cycle .buttons{
    display: flex;
    gap: 1vw;
}

.cycle .buttons button{
    font-size: 1.1rem;
    font-weight: bold;
}