.prescriber .doc-info,
.prescriber .doc-name,
.prescriber .doc-third-party {
    display: flex;
    margin-left: 1rem;
    gap: 1vw;
}

.prescriber .doc-info h4,
.prescriber .doc-name h4,
.prescriber .doc-third-party h4 {
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.prescriber .doc-info h4 input {
    max-width: 4.8vw;
}

.prescriber .doc-info .npi{
    max-width: 4.3vw;
}

.prescriber .doc-name h4 input {
    max-width: 6vw;
}

.prescriber {
    display: flex;
    flex-direction: column;
}

.prescriber .doc-third-party #thirdparty{
    width: 4.5vw;
}

input{
    letter-spacing: 0.03rem;
}