.instruct-sigs {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.instruct-sigs textarea {
    margin-left: 3vw;
    font-size: 1.25rem;
    width: 25vw;
    height: 14vh;
    resize: none;
}

.instruct-sigs .quantity,
.instruct-sigs .quantity h4,
.instruct-sigs .days h4 {
    margin-left: 0.6rem;
    display: flex;
    gap: 0.5rem;
}

.instruct-sigs .quantity h4 {
    align-items: stretch;
}

.instruct-sigs h4 input {
    max-width: 3rem;
}

.instruct-sigs .quantity h4,
.instruct-sigs .days h4{
    display: flex;
    align-items: baseline;
}