.left .mock-rx {
    min-height: 42.91vh;
    max-height: 45.1vh;
    text-indent: 1vw;
    overflow: scroll;
}

.left {
    min-width: 38vw;
}

.mock-rx {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.mock-rx p {
    margin-right: 1vw;
}

.mock-rx .name-date,
.mock-rx .sect1 .address,
.mock-rx .sect2 .dea-npi,
.mock-rx .sect2 .dea-npi .dea-npi-info {
    display: flex;
}

.mock-rx .name-date {
    justify-content: space-between;
    font-weight: bold;
    max-height: 2.2vh;
}

.mock-rx .sect1 .address {
    justify-content: space-between;
}

.mock-rx .sect2 .address {
    max-height: 0.5vh;
}

.mock-rx .sect2 .dea-npi {
    justify-content: space-between;
}

.mock-rx .sect2 .inner-sect2 .phone-fax div {
    display: flex;
    justify-content: space-between;
    max-height: 1.7vh;
}

.mock-rx .sect2 .inner-sect2 {
    display: flex;
    justify-content: space-between;
}

.mock-rx .block {
    background-color: rgb(17, 17, 17);
    min-height: 1.2rem;
}

.mock-rx .block p {
    font-size: 0.8rem;
    margin: 0 auto;
    z-index: 1;
    color: white;
}

.mock-rx .directions{
    min-height: 0.7rem;
}