.window{
    min-height: 85vh;
    width: 75vw;
    border: 1px solid black;
    background-color: whitesmoke;
}

.window .inner-window{
    border: 1px solid black;
    margin: 2rem auto;
    min-height: 72vh;
    max-width: 70vw;
    display: flex;
    justify-content: center;
}

.window .inner-window .split{
    border: 1px solid black;
    width: 100%;
}

.window .inner-window .split .info{
    flex-grow: 1;
}

.window .inner-window .right{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.window .work-queue{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
}

.window .work-queue .square{
    position: absolute;
    float: right;
    max-height: 5vh;
    min-width: 3vw;
    right: 11.7vw;
    top: 1.4vh;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0rem 0rem 0.3rem 0.2rem rgba(0, 0, 0, 0.397);
    border-radius: 20%;
}

.window .loading{
    text-align: center;
}

.window .inner-window .complete{
    margin-top: 18vw;
    max-height: 10vw;
    text-align: center;
}